*{
    font-family: "微軟正黑體","Microsoft JhengHei",'Source Sans Pro', sans-serif;
}
.navbar {
  margin-bottom: 0;
}
.jumbotron {
  background: url(../img/food-stock-photo-9.JPG) no-repeat center center;
  background-size: cover;
  height: 600px;
  padding: 0;
}
.jombo-text{
  margin:0;
}
.jumbotron .tagline {
  color: #fff;
  font-size: 42px;
  text-shadow: 0 0 10px #000;
  margin-left: 20%;
  margin-right: 20%;
}
.jumbotron .lead {
  color: #ccc;
  margin-left: 20%;
  margin-right: 20%;
}
.jumbotron [class*="col-"] {
  background-color: #eee;
  background-color: rgba(204, 204, 204, 0.62);
  border: 1px solid rgba(204, 204, 204, 0.62);
  height: 600px;
  padding-top: 20%;
  padding-bottom: 20%;
  overflow: hidden;
}
#login-btn{
  margin-left: 20%;
  margin-right: 20%;
}
.box {
  color: #433955;
  margin-bottom: 20px;
  min-height: 200px;
  text-align: center;
}
.box img {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  display: block;
  width: 100%;
  overflow: hidden;
}
.box .box-heading {
  max-height: 120px;
  overflow: hidden;
}
.box .box-body {
  border: 2px solid  #eaedf2;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 0 10px 20px 10px;
}
.footer{
    bottom: 0;
    width: 100%;
    text-align: center;
}
@media (max-width: 768px) {
  .navbar-right form {
    display: none;
  }
}
@media (max-width: 568px) {
  .jumbotron {
    text-align: center;
  }

  footer {
    text-align: center;
  }
}