*{
  font-family: "微軟正黑體","Microsoft JhengHei",'Source Sans Pro', sans-serif;
}
html{
  position: relative;
  min-height: 100%;
}
body{
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  padding-top: 55px;
}
.infow{
  text-align: center;
}
#carousel-custom {
    margin: 20px auto;
    /*width: 400px;*/
}
#carousel-custom .carousel-indicators {
  margin: 10px 0 0;
  overflow: auto;
  position: static;
  text-align: left;
  white-space: nowrap;
  width: 100%;
}
#carousel-custom .carousel-indicators li {
  background-color: transparent;
  -webkit-border-radius: 0;
  border-radius: 0;
  display: inline-block;
  height: auto;
  margin: 0 !important;
  width: auto;
}
.carousel-outer {
  min-height: 350px;
}
#carousel-custom .carousel-indicators li img {
  display: block;
  opacity: 0.5;
}
#carousel-custom .carousel-indicators li.active img {
  opacity: 1;
}
#carousel-custom .carousel-indicators li:hover img {
  opacity: 0.75;
}
#carousel-custom .carousel-outer {
  position: relative;
}
#simgt {
  height: 80px;
  width: 145px
}
#preview img{
  height: 200px;
}
.navbar-right{
  padding-right: 5px;
}
.wrap{
  position: relative;
  display: inline-block;
}
.wrap span{
  position: absolute;
  top: 8px;
  right: 10px;
}
.btn-wrap{
  text-align: center;
}
div .btn-group{
  margin: 0 auto;
  text-align: center;
  width: inherit;
  display: inline-block;
}
.fa-star{
  color: #e3cf7a;
}
.fa-heart{
  color: #a6a6a6;
}
.chef{
  padding-top: 40px;
  margin-bottom: 30px;
}
.bstext{
  color: #FF206E;
  -webkit-text-stroke: 0.5px #ffff00;
  font-size: 60px;
}
.nstext{
  color: #FF206E;
  -webkit-text-stroke: 0.5px #ffff00;
  font-size: 50px;
}
.login{
  display: none;
}
.nav > li:hover{
  background-color: #f9e406;
}
.item>a>img{
  width: 75%;
  margin: auto;
}
.item>img{
  width: 75%;
  margin: auto;
}
/*.carousel-inner{
  margin-bottom: 15px;
}*/
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  max-height: 500px;    /* Set slide height here */
  opacity: 0.85;
}
.carousel-caption{
  color: #FF206E;
  -webkit-text-stroke: 0.5px #ffff00;
}
#tag{
  min-height: 120px;
}
.facebook{
  text-align: center;
}
.facebook-lg{
  text-align: center;
}
.user-info {
  border: 2px solid  #eaedf2;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 0 10px 20px 10px;
  min-height: 200px;
}
.modal-footer{
  text-align: center;
}
.modal-header{
  min-height: 40px;
}
.modal-body{
  max-height: 400px;
  overflow: scroll;
  overflow-x: hidden;
}
.box {
  color: #433955;
  margin-bottom: 20px;
  min-height: 200px;
  text-align: center;
}
.box:hover{
  cursor: pointer;
  position: relative;
  top: 4px;
  left: 4px;
}
.box img {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  display: block;
  width: 100%;
  overflow: hidden;
  border: 2px solid  #eaedf2;
}
.box .box-heading {
  max-height: 200px;
  overflow: hidden;
}
.box .box-body {
  border: 2px solid  #eaedf2;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 0 10px 20px 10px;
  min-height: 120px;
}
.bcbox:hover{
  cursor: pointer;
  position: relative;
  top: 4px;
  left: 4px;
}
.bcbox {
  color: #433955;
  margin-bottom: 20px;
  min-height: 200px;
  text-align: center;
  margin-right: 5px;
}
.bcbox img {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  display: block;
  width: 100%;
  overflow: hidden;
  min-height: 200px;
  padding-right: 0px;
  border: 2px solid  #eaedf2;
}
.bcbox .bcbox-l{
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  min-width: 50%;
  padding-right: 0px;
  height: 100%;
}
.bcbox .bcbox-r{
  min-height: 262.5px;
  border: 2px solid  #eaedf2;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  padding-left: 0px;
  min-width: 50%;
  height: 100%;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  text-align: center;
  padding-top: 12px;
}
.navbar {
  margin-bottom: 0;
  margin-bottom: 20px;
}
.navbar-default {
  background-color: #ffe900;
  border-color: #f9e406;
  background-image: linear-gradient(to bottom,#ffe900 0,#ffe900 100%);
}
.navbar-default .navbar-brand {
  color: #ee245e;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #df255b;
}
.navbar-default .navbar-text {
  color: #ee245e;
}
.navbar-default .navbar-nav > li > a {
  color: #ee245e;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #df255b;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #df255b;
  background-color: #f9e406;
  background-image: linear-gradient(to bottom,#f9e406 0,#f9e406 100%);
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #df255b;
  background-color: #f9e406;
}
.navbar-default .navbar-toggle {
  border-color: #f9e406;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #f9e406;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ee245e;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ee245e;
}
.navbar-default .navbar-link {
  color: #ee245e;
}
.navbar-default .navbar-link:hover {
  color: #df255b;
}
/*.jumbotron {
  background: url(../images/food-stock-photo-9.jpg) no-repeat center center;
  background-size: cover;
  min-height: 550px;
  padding: 0;
  text-align: center;
}
.jombo-text{
  margin:0;
}
.jumbotron .tagline {
  color: #ffff00;
  font-size: 80px;
  text-shadow: 10px 10px 20px #FF206E;
}
.jumbotron .lead {
  color: #ffff00;
  font-size: 30px;
  text-shadow: 10px 10px 20px #FF206E;
}
.jumbotron [class*="col-"] {
  height: 250px;
  margin-top:15%;
  margin-bottom:15%;
  overflow: hidden;
}*/
@media only screen and (min-width: 1200px) {
  .carousel-topic{
    font-size: 60px;
  }
  .carousel-content{
    font-size: 30px;
  }
  .carousel-inner>.item{
    margin-bottom: 15px;
  }
}
/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {

}
/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 1100px) {
  body {
    padding-top: 105px;
  }
  .chef{
    padding-top: 0px;
  }
}
@media (max-width: 768px) {
  .navbar-right form {
    display: none;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ee245e;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #df255b;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #df255b;
    background-color: #ead706;
  }
  .carousel-caption{
    color: #FF206E;
    -webkit-text-stroke: 0.2px #ffff00;
  }
}
@media (max-width: 568px) {
  .jumbotron {
    text-align: center;
  }

  footer {
    text-align: center;
  }
  .carousel-caption>.btn{
    font-size: 10px;
  }
  .carousel-topic{
    font-size: 25px;
  }
  .carousel-content{
    font-size: 15px;
  }
  .carousel-caption{
    color: #FF206E;
    -webkit-text-stroke: 0.2px #ffff00;
  }
}